## Delete Windows
desktop.ini
thumbs.db

## Delete netbeans Shizzle
/nbproject/

## Delete SyncCrap
sync.*

## Remove backups
*.php~

## Symfony shizzle
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/