## Delete Windows
desktop.ini
thumbs.db

## Delete netbeans Shizzle
/nbproject/private

## Delete SyncCrap
sync.*

## Remove backups
*.php~

# No thumbs
src/JeroenED/PortfolioBundle/Resources/public/.thumbs/

# No copied resources
/web/bundles/*
/web/css
/web/js
/web/assets/*

## Symfony shizzle
/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/app/phpunit.xml
/composer.phar
/vendor/
/.project
