[submodule "src/JeroenED/CmsEDBundle/Resources/public/ckeditor-plugins/codemirror"]
	path = src/JeroenED/CmsEDBundle/Resources/public/ckeditor-plugins/codemirror
	url = https://github.com/w8tcha/CKEditor-CodeMirror-Plugin.git
