# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]*)$ /index.php?ctrl=page&id=$1 [QSA]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /index.php?ctrl=$1&func=$2&id=$3 [QSA]