{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
    <h1>Admin pages!</h1>
    <p>Welcome to the admin pages of your website. You can change everything you want here. Please click in left column on the links.</p>
    <p>Kumba hey</p>
{% endblock %}
