@media only screen and (max-width: 480px) {
    .page {
        font-size: 12px;
        
        table caption { font-size:16px; }
        h1 { font-size: 20px; }
        h2 { font-size: 16px; }
    }
    .mobile { display: block; }
    .nomobile { display: none; }
    #personalia th { display: none; }
    
    #languages {
        table, thead, tbody, th, td, tr { display: block; }
        
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        td {
            position: relative;
            padding-left: 100px;
        }
        
        td:before {
            position: absolute;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        
        td:nth-of-type(1):before { content: "Spreken"; }
        td:nth-of-type(2):before { content: "Begrijpen"; }
        td:nth-of-type(3):before { content: "Lezen"; }
        td:nth-of-type(4):before { content: "Schrijven"; }
    }
}
@media only screen and (max-width: 1024px) {
    .mobile { display:block; }
    .nomobile { display: none; }
}


