{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
<h1>{{ userdetails.userName }}</h1>
<p>Email: {{ userdetails.Email }}</p>
<p>2 Factor authentication</p>
<p><img src="{{ google_url }}" alt="2 factor key"></p>
{% endblock %}